<header>
    <div class="logo">
        <div class="logo-img">
            <a routerLink="/">
                <img src="../../../assets/todo-logo.png" alt="logo-img">
            </a>
        </div>
        <div class="logo-name">
            <a routerLink="/">
                <img src="../../../assets/logo-word.png" alt="logo-word">
            </a>
        </div>
    </div>
    <div class="nav-links">
        <ul class="links">
            <li class="link"><a routerLink="/signup" routerLinkActive="active">Sign Up</a></li>
            <li class="link"><a routerLink="/login" routerLinkActive="active">Log In</a></li>
        </ul>
    </div>
</header>
