<div class="signup-box">
    <h2>Sign Up</h2>
    <div>{{ error }}</div>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
            <input type="text" class="input" required formControlName="first_name">
            <label class="label">First name</label>
        </div>
        <div class="input-group">
            <input type="text" class="input" required formControlName="last_name">
            <label class="label">Last name</label>
        </div>
        <div class="input-group">
            <input type="text" class="input" required formControlName="email">
            <label class="label">Email</label>
        </div>
        <div class="input-group">
            <input type="text"  class="input" required formControlName="username">
            <label class="label">Username</label>
        </div>
        <div class="input-group">
            <input type="password"  class="input" required formControlName="password">
            <label class="label">Password</label>
        </div>
        <div class="input-group">
            <input type="password" class="input" required formControlName="confirm">
            <label class="label">Confirmation</label>
        </div>
        <button type="submit" [disabled]="signUpForm.invalid">Sign Up</button>
    </form>
</div>
