<div class="login-box">
    <form [formGroup]="logInForm" (onSubmit)="onSubmit">
        <div class="input">
            <label for="">UserName</label>
            <input type="text" id="username" formControlName="username">
        </div>
        <div class="input">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password">
        </div>
        <button type="submit" [disabled]="logInForm.invalid">Log In</button>
    </form>
</div>