<aside class="side-bar">
    <img src="https://i.pinimg.com/originals/f1/0f/f7/f10ff70a7155e5ab666bcdd1b45b726d.jpg" alt="profile-picture">
    <nav class="nav-box">
        <ul class="nav-links">
            <li class="nav-link"><a routerLink="/task" routerLinkActive="active">Tasks</a></li>
            <li class="nav-link"><a routerLink="/new-task" routerLinkActive="active">New Task</a></li>
            <li class="nav-link"><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
            <li class="nav-link"><a routerLink="/settings" routerLinkActive="active">Settings</a></li>
        </ul>
    </nav>
    <button class="log-out-btn">Log Out</button>
</aside>
